.scroll-up-button,
.scroll-down-button {
  transition: 0.15s;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 10px;
  padding: 15px;
  border-radius: 40px;
  background-color: var(--search-button-color);
  border: solid 1px var(--border-color);
  cursor: pointer;

}

.scroll-up-button {
  top: 68px;
}

.scroll-down-button {
  bottom: 10px;
}

.scroll-down-button:hover,
.scroll-up-button:hover {
  background-color: var(--search-hover-color);
}

.scroll-video-button button ion-icon {
  font-size: 25px;
  color: var(--b-t-w-color);
}