body {
  font-family: Roboto;
  margin: 0px;
  background-color: var(--primary-color);
  transition: 0.15s;
}

:root {
  --primary-color: white;
  --b-t-w-color: black;
  --w-t-b-color: white;
  --search-button-color: rgb(238, 238, 238);
  --border-color: rgb(199, 199, 199);
  --hover-color: rgb(238, 238, 238);
  --search-hover-color: rgb(224, 224, 224);
}

.dark-theme {
  --primary-color: rgb(17, 17, 17);
  --b-t-w-color: white;
  --w-t-b-color: black;
  --search-button-color: rgb(37, 37, 37);
  --border-color: rgb(59, 59, 59);
  --hover-color: rgb(39, 39, 39);
  --search-hover-color: rgb(48, 48, 48);
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--border-color);
  z-index: 1;
  transition: 0.15s;
}

.left-side {
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: space-between;
  margin-left: 24px;
  flex-shrink: 0;
}

.hamburger-menu {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: none;
  background-color: var(--primary-color);
  margin-left: -12px;
  margin-right: 2px;
  transition: 0.15s;
}

.menu-icon {
  font-size: 22px;
  color: var(--b-t-w-color);
  left: 5px;
}

.play-icon {
  font-size: 12px;
  color: white;
  background-color: red;
  padding: 6px 10px;
  border-radius: 8px;
  margin: 0px 12px;
}

.logo-name {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-left: -8px;
  color: var(--b-t-w-color);
}

.middle-side {
  display: flex;
  align-items: center;
  flex: 1;
  height: 40px;
  margin: 0px 10px 0px 60px;
  max-width: 600px;
}

.search-bar {
  height: 36px;
  padding-left: 15px;
  background-color: var(--primary-color);
  border: solid 1px var(--border-color);
  flex: 1;
  font-size: 16px;
  width: 58px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: var(--b-t-w-color);
  transition: 0.15s;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: var(--b-t-w-color);
}

.search-button {
  border: solid 1px var(--border-color);
  background-color: var(--search-button-color);
  margin-left: -1px;
  height: 40px;
  width: 65px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: 0.15s;
}

.voice-search-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  background-color: var(--search-button-color);
  cursor: pointer;
  transition: 0.15s;
}

.voice-search-button:hover,
.search-button:hover,
.mode-switch:hover {
  background-color: var(--search-hover-color);
  cursor: pointer;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
  flex-shrink: 0;
}

.mode-switch {
  background-color: var(--search-button-color);
  color: var(--b-t-w-color);
  font-weight: bold;
  border-radius: 25px;
  border: solid 1px var(--border-color);
  padding: 13px 25px;
  transition: 0.15s;
}

.create-video,
.bell-icon,
.notification-icon,
.voice-search-icon {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: none;
  background-color: var(--primary-color);
  margin-left: 20px;
  transition: 0.15s;
}
.create-video:hover,
.bell-icon:hover,
.notification-icon:hover,
.hamburger-menu:hover,
.voice-search-icon:hover {
    background-color: var(--hover-color);
}

.search-icon,
.mic-icon,
.videocam-icon,
.notifications-icon {
  font-size: 22px;
  color: var(--b-t-w-color);
}

.my-profile-picture {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.my-profile-picture img {
  width: 40px;
  border-radius: 20px;
}