body {
  font-family: Roboto;
  margin: 0px;
}

:root {
  --primary-color: white;
  --icon-color: black;
}

.dark-theme {
  --primary-color: black;
  --icon-color: white;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(207, 207, 207);
  z-index: 1;
}

.left-side {
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: space-between;
  margin-left: 24px;
  flex-shrink: 0;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
  width: 205px;
  flex-shrink: 0;
}

.middle-side {
  display: flex;
  align-items: center;
  flex: 1;
  height: 40px;
  margin: 0px 10px 0px 60px;
  max-width: 465px;
}

.search-bar {
  height: 36px;
  padding-left: 15px;
  border: solid 1px rgb(212, 212, 212);
  flex: 1;
  font-size: 16px;
  width: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: rgb(124, 124, 124);
}

.search-button {
  border: solid 1px rgb(206, 206, 206);
  background-color: rgb(245, 245, 245);
  margin-left: -1px;
  height: 40px;
  width: 65px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.voice-search-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

.create-video,
.bell-icon,
.notification-icon,
.voice-search-icon {
  width: 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: none;
  background-color: white;
}

.create-video:hover,
.bell-icon:hover,
.notification-icon:hover,
.hamburger-menu:hover,
.voice-search-icon:hover {
    background-color: rgb(245, 245, 245);
}


.hamburger-menu {
  margin-left: -5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.my-profile-picture {
  width: 32px;
  border-radius: 16px;
}

.menu-icon {
  font-size: 20px;
}

.play-icon {
  font-size: 20px;
  color: white;
  background-color: red;
  padding: 6px 12px;
  border-radius: 8px;
  margin: 0px 12px;
}

.logo-name {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-left: -8px;
}

.search-icon,
.mic-icon,
.videocam-icon,
.notifications-icon {
  font-size: 22px;
  color: var(--icon-color);
}

