* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cp-viewport {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp-content {
    width: 814px;
    border: 3px solid var(--border-color);
    border-radius: 40px;
    transition: .15s;
    padding: 60px;
}

.cp-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 9999999999px;
}

.cp-information-container {
    padding: 1em;
    position: relative;
    width: 100%;
    color: var(--text-color);
    transition: .15s;
}

.cp-information-content-container {
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}